:root{
    --primary-color: #FFF;
    --secondary-color: #59ACDD;
    --accent: #A975D6;
    --text: #6c757d;
    --text-dark: #343a40;
    --background: #EEEEEE;
    --color-purple: #6f42c1;
    --color-blue: #0d6efd;
    --color-teal: #20c997;
}

