*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #FFF;
    --secondary-color: #59ACDD;
    --accent: #A975D6;
    --text: #6c757d;
    --text-dark: #343a40;
    --background: #EEEEEE;
    --color-purple: #6f42c1;
    --color-blue: #0d6efd;
    --color-teal: #20c997;
    --color-pink: #d63384;
    --color-red: #dc3545;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(220, 53, 63, 0.2);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(220, 53, 63, 0.6);
}

body{
    background-color: var(--background);
}


.side__bar{
    overflow-y: auto;
    min-width: 290px;
}

.main__content{
    overflow-y: auto;
}

.top__bar{
    background-color: var(--primary-color);
}

.content__container{
    padding: 1.875rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
